.featuredBox{
  height: 120px;
  width: 120px;
  background: #7303f3;
  color: white;
  font-weight:900
}
.yearsofExp{
  height: 120px;
  width: 120px;
  color: white;

}

.bg-header{
  background-color: #7303f3;
}

.section-height{
  height: 100vh;
}

.section{
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}




.timeline {
  border-left: 1px solid hsl(268, 97%, 49%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(271, 96%, 43%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}